fastapi
uvicorn
python-dotenv
qbittorrent-api
beautifulsoup4

jinja2
pytest
pytest-cov
pytest-asyncio
httpx[http2]
cachetools
lxml
html5lib
slowapi
fastapi-limiter
pydantic>=2.0.0
python-multipart
itsdangerous
idna
cryptography
PyYAML
playwright